# CMake files

CMakeLists.txt
cmake-build-debug/

# default executable

a.out

# clion's stuff

.idea/

# objects file

build/
*.o

# random files

*.avm
unistd.h

# valgrind files

*.dSYM/

# executables

avm